{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{% endblock %}
{% block css%}
    <link rel="stylesheet" href="{% static 'product/css/css.css' %}">
	<link rel="stylesheet" href="{% static 'product/css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'product/css/n_yi.css' %}">
{% endblock %}
{% block content %}
    <div class="banner">
		<a href="#" title="鑫水源环保工程公司">
			<img src="{% static 'product/image/20140701170948_98309.jpg' %}" alt="鑫水源环保工程公司" title="鑫水源环保工程公司">
		</a>
	</div>
    <div class="content">
		<div class="content_left">
			<div class="content_left_top">
				<div class="content_tit">
					新闻资讯
				</div>
				<ul class="content_ul">
					<li><a href="#" title="鑫水源环保快讯">鑫水源环保快讯</a></li>
					<li><a href="#" title="技术支持">技术支持</a></li>
					<li><a href="#" title="行业资讯">行业资讯</a></li>
					<li><a href="#" title="常见问题">常见问题</a></li>
				</ul>
				<div class="cont"></div>
			</div>
			<div class="content_left_bottom">
				<div class="content_tit">
					联系鑫水源环保
				</div>
				<div class="cont_bottom">
					<div class="cont_contact">
						<p class="cont_contact_p1"></p>
						<div class="cont_tel">
							咨询热线：
							<span>0537-6286699</span>
						</div>
						<p>济宁鑫水源环保工程有限公司</p>
						<p>手机：15397121116</p>
						<p>邮箱：15397121116@163.com</p>
						<p>办公地址：山东省济宁市唐马工业园区88号</p>
					</div>
				</div>
				<div class="cont"></div>
			</div>
		</div>
		<div class="content_right">
			<div class="con_right_t"></div>
			<div class="con_right_t1">
				<span>
					<a href="index.html" title="首页">首页</a> »
					<a href="#" title="鑫水源环保帮助中心">鑫水源环保帮助中心</a>»
					<a href="#" title="关于鑫水源环保">关于鑫水源环保</a>»
					<a href="#" title="关于污水处理">关于污水处理</a>
				</span>
			</div>
			<div class="con_right_t2"></div>
			<div class="cont_t3"></div>
			<div class="x_w">
				<div class="x_w1">
					<h1>关于鑫水源</h1>
					本公司技术依托于浙江大学，拥有杭州、济宁的研发和生产基地和济宁的高科技术企业。公司主要从事PVDF型中空纤维膜产品的开发、生产、销售和膜分离技术的应用。本主要生产销售复合型聚偏氟乙烯（PVDF）中空纤维超滤膜（拥有自主研发产品捷滤膜品牌）；经过多年的努力，本公司的产品已经在工业污水处理系统、物料分离浓缩、电泳漆回收、酒过滤以及工业污水处理、中水处理、船泊废水处理等领域得到了广泛的应用，赢得了广大客户的认可，公司产品已遍及国内所有地区。
					<div class="s_y">
						<a href="#">
							上一篇：医院医疗污水处理工艺流程
						</a>
					</div>
					<div class="x_y">
						<a href="#">
							下一篇：地埋式污水处理设备技术方案
						</a>
					</div>
					<div class="clear"></div>



					<!-- 这里是分页 -->




				</div>
			</div>
			<div class="cont_end"></div>
		</div>
	</div>
{% endblock %}
{% block footer %}
{% endblock %}