{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
成功案例
{% endblock%}
{% block css %}
	<link rel="stylesheet" href="{% static 'product/css/css.css' %}">
	<link rel="stylesheet" href="{% static 'product/css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'product/css/n_yi.css' %}">
{% endblock %}
{% block content %}
<div class="banner">
		<a href="#" title="产品中心">
			<img src="{% static 'product/image/case.jpg' %}" alt="产品中心" title="产品中心"></a>
		</div>
	<div class="content">
		<div class="content_left">
			<div class="content_left_top">
				<div class="content_tit">
					客户中心
				</div>
				<ul class="content_ul">
					<li><a href="#" title="客户见证">客户见证</a></li>
					<li><a href="#" title="成功案例">成功案例</a></li>
				</ul>
				<div class="cont"></div>
			</div>
			<div class="content_left_bottom">
				<div class="content_tit">
					联系鑫水源环保
				</div>
				<div class="cont_bottom">
					<div class="cont_contact">
						<p class="cont_contact_p1"></p>
						<div class="cont_tel">
							咨询热线：
							<span>0537-6286699</span>
						</div>
						<p>济宁鑫水源环保工程有限公司</p>
						<p>手机：15397121116</p>
						<p>邮箱：15397121116@163.com</p>
						<p>办公地址：山东省济宁市唐马工业园区88号</p>
					</div>
				</div>
				<div class="cont"></div>
			</div>
		</div>
		<div class="content_right">
			<div class="con_right_t"></div>
			<div class="con_right_t1">
				<span>
					<a href="#" title="首页">首页</a> »
					<a href="#" title="鑫水源环保帮助中心">鑫水源环保帮助中心</a>»
					<a href="#" title="关于鑫水源环保">关于鑫水源环保</a>»
					<a href="#" title="关于污水处理">关于污水处理</a>
				</span>
			</div>
			<div class="con_right_t2"></div>
			<div class="cont_t3"></div>
			<div class="n_er_con">
				<dl>
					<dt>
						<a href="#" title="广州市某化学添加剂有限公司">
							<img src="{% static 'product/image/guangzhou_1.jpg' %}"  alt="广州市某化学添加剂有限公司" title="广州市某化学添加剂有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="广州市某化学添加剂有限公司">
                         广州市某化学添加剂有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="新乡市某粉体筛分设备有限公司">
							<img src="{% static 'product/image/xinxiang_1.jpg' %}" alt="新乡市某粉体筛分设备有限公司" title="新乡市某粉体筛分设备有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="新乡市某粉体筛分设备有限公司">
                         新乡市某粉体筛分设备有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="西安某生物化工科技有限公司">
							<img src="{% static 'product/image/xian_1.jpg' %}" alt="西安某生物化工科技有限公司" title="西安某生物化工科技有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="西安某生物化工科技有限公司">
                         西安某生物化工科技有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="河北某橡塑制品有限公司">
							<img src="{% static 'product/image/hebei_1.jpg' %}" alt="河北某橡塑制品有限公司" title="河北某橡塑制品有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="河北某橡塑制品有限公司">
                         河北某橡塑制品有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="河南省某某化工产品有限公司">
							<img src="{% static 'product/image/henan_1.jpg' %}" alt="河南省某某化工产品有限公司" title="河南省某某化工产品有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="河南省某某化工产品有限公司">
                         河南省某某化工产品有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="江苏省苏州市某化工有限公司">
							<img src="{% static 'product/image/jiangsu_1_suzhou.jpg' %}" alt="江苏省苏州市某化工有限公司" title="江苏省苏州市某化工有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="江苏省苏州市某化工有限公司">
                         江苏省苏州市某化工有限公司厂
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="锦州某润滑油有限公司">
							<img src="{% static 'product/image/jinzhou_1.jpg' %}" alt="锦州某润滑油有限公司" title="锦州某润滑油有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="锦州某润滑油有限公司">
                         锦州某润滑油有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="宁津县某淀粉加工厂">
							<img src="{% static 'product/image/ningjin_1.jpg' %}" alt="宁津县某淀粉加工厂" title="宁津县某淀粉加工厂">
						</a>
					</dt>
					<dd>
						<a href="#" title="宁津县某淀粉加工厂">
                         宁津县某淀粉加工厂
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="山东某医药科技有限公司">
							<img src="{% static 'product/image/shandong_1.jpg' %}" alt="山东某医药科技有限公司" title="山东某医药科技有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="山东某医药科技有限公司">
                         山东某医药科技有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="山东淄博某特种氧化铝有限公司">
							<img src="{% static 'product/image/shandong_2.jpg' %}" alt="山东淄博某特种氧化铝有限公司" title="山东淄博某特种氧化铝有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="山东淄博某特种氧化铝有限公司">
                         山东淄博某特种氧化铝有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="上海某化工有限公司">
							<img src="{% static 'product/image/shanghai_1.jpg' %}" alt="上海某化工有限公司" title="上海某化工有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="上海某化工有限公司">
                         上海某化工有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="深圳某科技有限公司">
							<img src="{% static 'product/image/shenzhen_1.jpg' %}" alt="深圳某科技有限公司" title="深圳某科技有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="深圳某科技有限公司">
                         深圳某科技有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="石家庄某化工有限公司">
							<img src="{% static 'product/image/shijiazhuang_1.jpg' %}" alt="石家庄某化工有限公司" title="石家庄某化工有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="石家庄某化工有限公司">
                         石家庄某化工有限公司
						</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" title="苏州某纳米无机氧化物有限公司">
							<img src="{% static 'product/image/suzhou_1.jpg' %}" alt="苏州某纳米无机氧化物有限公司" title="苏州某纳米无机氧化物有限公司">
						</a>
					</dt>
					<dd>
						<a href="#" title="苏州某纳米无机氧化物有限公司">
                         苏州某纳米无机氧化物有限公司
						</a>
					</dd>
				</dl>
			</div>
			<div class="cont_end"></div>
		</div>
	</div>

{% endblock %}
{% block footer %}
{% endblock%}