
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}联系鑫水源环保
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'product/css/css.css' %}">
	<link rel="stylesheet" href="{% static 'product/css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'product/css/n_yi.css' %}">
{% endblock %}
{% block content %}
<div class="banner">
		<a href="#" title="联系我们">
			<img src="{% static 'product/image/20140701171127_44159.jpg' %}" alt="联系我们" title="联系我们">
		</a>
	</div>
	<div class="content">
		<div class="content_left">
			<div class="content_left_top">
				<div class="content_tit">
					关于鑫水源环保
				</div>
				<ul class="content_ul">
					<li><a href="#" title="鑫水源环保简介">鑫水源环保简介</a></li>
					<li><a href="#" title="污水处理系统">污水处理系统</a></li>
					<!--<li><a href="#" title="荣誉资质">荣誉资质</a></li>-->
					<!--<li><a href="#" title="专家团队">专家团队</a></li>-->
					<li><a href="#" title="联系鑫水源环保">联系鑫水源环保</a></li>
					<li><a href="#" title="在线留言">在线留言</a></li>
				</ul>
				<div class="cont"></div>
			</div>
			<div class="content_left_bottom">
				<div class="content_tit">
					联系鑫水源环保
				</div>
				<div class="cont_bottom">
					<div class="cont_contact">
						<p class="cont_contact_p1"></p>
						<div class="cont_tel">
							咨询热线：
							<span>0536-6286699</span>
						</div>
						<p>济宁鑫水源环保工程有限公司</p>
						<p>手机：15397121116</p>
						<p>邮箱：15397121116@163.com</p>
						<p>办公地址：山东省济宁市唐马工业园区88号</p>
					</div>
				</div>
				<div class="cont"></div>
			</div>
		</div>
		<div class="content_right">
			<div class="con_right_t"></div>
			<div class="con_right_t1">
				<span>
					<a href="#" title="首页">首页</a> »
					<a href="#" title="鑫水源环保帮助中心">鑫水源环保帮助中心</a>»
					<a href="#" title="关于鑫水源环保">关于鑫水源环保</a>»
					<a href="#" title="关于污水处理">关于污水处理</a>
				</span>
			</div>
			<div class="con_right_t2"></div>
			<div class="cont_t3"></div>
			<div class="y_m">
				<div class="y_m1">
					<div class="y_m2">
						<p>
							<!--
							<img src="image/6353948904100000004856161.jpg" alt="艺淼环保简介" title="艺淼环保简介">
							-->
						</p>
						<p class="lianxi_hb">
							济宁鑫水源环保工程有限公司
						</p>
						<p>
							咨询热线：0537-6286699
						</p>
						<p>
							手机：15397121116
						</p>
						<p>
							邮箱：15397121116@163.com
						</p>
						<p>
							办公地址：山东省济宁市唐马工业园区88号
						</p>
						<!--<p>
							实验室地址：云南大学微生物研究所205室
						</p>
						-->
					</div>
				</div>
			</div>
			<div class="cont_end"></div>
		</div>
	</div>
{% endblock %}
