{% extends "base.html" %}
{% load staticfiles %}##每一个需要静态文件的模板都需要把这句话填上 表示出尊敬
{% block title %}首页{% endblock %}
{% block content %}


	<div class="box2">
		<div class="silder" id="silder">
  			<ul class="silder_list" id="silder_list">
			    <li> <img src="{% static 'product/image/1.jpg' %}" border="0" alt="鑫水源环保" title="鑫水源环保"> </li>
			    <li> <img src="{% static 'product/image/2.jpg' %}" border="0" alt="鑫水源环保" title="鑫水源环保"> </li>
			    <li> <img src="{% static 'product/image/3.jpg' %}" border="0" alt="鑫水源环保" title="鑫水源环保"> </li>
  			</ul>
		</div>
	</div>
	<div class="clear"></div>
	<div class="box4">
		<div class="box4_top">
			<div class="box4_topz">
				<h3>
					<a href="#" title="产品中心">产品中心</a>
				</h3>
				<h4>
					<a href="#" title="推荐产品">推荐产品</a>
				</h4>
				<ul>
					<li>
						<a href="#" title="帘式膜组件">帘式膜组件</a>
					</li>
					<li>
						<a href="#" title="JM-MBR-6-CO-PVDF">JM-MBR-6-CO-PVDF</a>
					</li>
					<li>
						<a href="#" title="JM-MBR-10-CO-PVDF">JM-MBR-10-CO-PVDF</a>
					</li>
					<li>
						<a href="#" title="JM-MBR-15-CO-PVDF">JM-MBR-15-CO-PVDF</a>
					</li>
					<li>
						<a href="#" title="PVDF中空纤维超滤膜组件 ">PVDF中空纤维超滤膜组件 </a>
					</li>
					<li>
						<a href="#" title="JM-UF-4040-CO-PVDF">JM-UF-4040-CO-PVDF</a>
					</li>
					<li>
						<a href="#" title="JM-UF-8040-CO-PVDF">JM-UF-8040-CO-PVDF</a>
					</li>
					<li>
						<a href="#" title="JM-UF-8060-CO-PVDF">JM-UF-8060-CO-PVDF</a>
					<li>
						<a href="#" title="连续超滤膜过滤(CMF)设备">连续超滤膜过滤(CMF)设备</a>
					</li>
					</li>
					<li>
						<a href="#" title="反渗透设备">反渗透设备</a>
					</li>
				</ul>

			</div>
			<div class="box4_topy">
				<h3>
					<span><a href="#" title="更多">更多></a></span>
					<a href="#" title="产品推荐">产品推荐</a>
				</h3>
				<dl>
					<dt>
						<a href="#" title="广州市某化学添加剂有限公司"><img src="{% static 'product/image/guangzhou_1.jpg' %}" alt=""></a>
					</dt>
					<dd>
						<h2>
							<a href="#" title="广州市某化学添加剂有限公司">广州市某化学添加剂有限公司</a>
						</h2>
						<em>
							<a href="#" title="了解详情">
								<img src="{% static 'product/image/pr_lj.jpg' %}" alt="" width="74" height="26" alt="了解详情">
							</a>
							<a href="#" title="立即咨询">
								<img src="{% static 'product/image/pr_zx.jpg' %}" alt="立即咨询" height="26" width="74">
							</a>
						</em>
					</dd>
				</dl>

				<dl>
					<dt>
						<a href="#" title="河北某橡塑制品有限公司"><img src="{% static 'product/image/hebei_1.jpg' %}" alt=""></a>
					</dt>
					<dd>
						<h2>
							<a href="#" title="河北某橡塑制品有限公司">河北某橡塑制品有限公司</a>
						</h2>
						<em>
							<a href="#" title="了解详情">
								<img src="{% static 'product/image/pr_lj.jpg' %}" alt="" width="74" height="26" alt="了解详情">
							</a>
							<a href="#" title="立即咨询">
								<img src="{% static 'product/image/pr_zx.jpg' %}" alt="立即咨询" height="26" width="74">
							</a>
						</em>
					</dd>
				</dl>

				<dl class="nopa">
					<dt>
						<a href="#" title="河南省某某化工产品有限公司"><img src="{% static 'product/image/henan_1.jpg' %}" alt=""></a>
					</dt>
					<dd>
						<h2>
							<a href="#" title="河南省某某化工产品有限公司">河南省某某化工产品有限公司</a>
						</h2>
						<em>
							<a href="#" title="了解详情">
								<img src="{% static 'product/image/pr_lj.jpg' %}" alt="" width="74" height="26" alt="了解详情">
							</a>
							<a href="#" title="立即咨询">
								<img src="{% static 'product/image/pr_zx.jpg' %}" alt="立即咨询" height="26" width="74">
							</a>
						</em>
					</dd>
				</dl>


				<dl>
					<dt>
						<a href="#" title="西安某生物化工科技有限公司"><img src="{% static 'product/image/xian_1.jpg' %}" alt=""></a>
					</dt>
					<dd>
						<h2>
							<a href="#" title="西安某生物化工科技有限公司">西安某生物化工科技有限公司</a>
						</h2>
						<em>
							<a href="#" title="了解详情">
								<img src="{% static 'product/image/pr_lj.jpg' %}" alt="" width="74" height="26" alt="了解详情">
							</a>
							<a href="#" title="立即咨询">
								<img src="{% static 'product/image/pr_zx.jpg' %}" alt="立即咨询" height="26" width="74">
							</a>
						</em>
					</dd>
				</dl>


				<dl>
					<dt>
						<a href="#" title="山东某医药科技有限公司"><img src="{% static 'product/image/shandong_1.jpg' %}" alt=""></a>
					</dt>
					<dd>
						<h2>
							<a href="#" title="山东某医药科技有限公司">山东某医药科技有限公司</a>
						</h2>
						<em>
							<a href="#" title="了解详情">
								<img src="{% static 'product/image/pr_lj.jpg' %}" alt="" width="74" height="26" alt="了解详情">
							</a>
							<a href="#" title="立即咨询">
								<img src="{% static 'product/image/pr_zx.jpg' %}" alt="立即咨询" height="26" width="74">
							</a>
						</em>
					</dd>
				</dl>

				<dl class="nopa">
					<dt>
						<a href="#" title="山东淄博某特种氧化铝有限公司"><img src="{% static 'product/image/shandong_2.jpg' %}" alt=""></a>
					</dt>
					<dd>
						<h2>
							<a href="#" title="山东淄博某特种氧化铝有限公司">山东淄博某特种氧化铝有限公司</a>
						</h2>
						<em>
							<a href="#" title="了解详情">
								<img src="{% static 'product/image/pr_lj.jpg' %}" alt="" width="74" height="26" alt="了解详情">
							</a>
							<a href="#" title="立即咨询">
								<img src="{% static 'product/image/pr_zx.jpg' %}" alt="立即咨询" height="26" width="74">
							</a>
						</em>
					</dd>
				</dl>
			</div>
		</div>
		<div class="clear"></div>
		<div class="box4_bottom">
			<a href="#" title="鑫水源环保工程污水治理首选"><img src="{% static 'product/image/30g.jpg' %}" alt=""></a>
			<p>

                咨询热线
                <b>0537-6286699</b>
			</p>
		</div>

	</div>
	<div class="box13">
		<div class="clear"></div>
		<div class="box13_q">
			<h3>
				<span>
					<a href="#" title="走进鑫水源"><img src="{% static 'product/image/ry_m.jpg' %}" alt="走进鑫水源" title="走进鑫水源"></a>
				</span>
				<a href="#" title="走进鑫水源">走进鑫水源</a>
			</h3>
			<dl>
				<dt>
					<a href="#" title="鑫水源环保">
						<img src="{% static 'product/image/deco.jpg' %}" alt="">
					</a>
				</dt>
				<dd>
					<h4>
						<a href="#" title="鑫水源环保">鑫水源  简介</a>
					</h4>
					<p>
						本公司技术依托于浙江大学，拥有杭州、济宁的研发和生产基地和济宁的高科技企业。公司主要从事PVDF型中空纤维膜产品的开发、生产、销售和膜分离技术的应用。杭州捷滤膜科技有限公司主要生产销售复合型聚偏氟乙烯（PVDF）中空纤维超滤膜；经过多年的努力，杭州捷滤膜科技有限公司的产品已经在工业污水处理系统、物料分离浓缩、电泳漆回收、酒过滤以及工业污水处理、中水处理、船泊废水处理等领域得到了广泛的应用，赢得了广大客户的认可。公司产品遍及国内所有地区。
               		</p>
               		<span>
               			<a href="#" title="了解详情">
               				<img src="{% static 'product/image/zj_lj.jpg' %}" alt="了解详情" title="了解详情">
               			</a>
               		</span>
               		<a href="#" title="咨询">
               			<img src="{% static 'product/image/zx_zj.jpg' %}" alt="咨询" title="咨询">
               		</a>
				</dd>
			</dl>
		</div>
		<div class="box14">
		<h3>
			<span>
				<a href="#" title="更多">
					<img src="{% static 'product/image/ry_m.jpg' %}" alt="更多" title="更多">
				</a>
			</span>
			<a href="#" title="专家团队">专家团队</a>
		</h3>
		<div class="box12_q q_1">

			</div>
			<div class="box12_w q_1">
				<div class="cute" id="cute">
					<div class="contt" id="contt">
						<div class="wu" >
							<img src="{% static 'product/image/lab_1.jpg' %}" alt="图一" title="图一">
						</div>
						<div class="wu" >
							<img src="{% static 'product/image/lab_2.jpg' %}" alt="图二" title="图二">
						</div>
						<div class="wu" >
							<img src="{% static 'product/image/lab_3.jpg' %}" alt="图三" title="图三">
						</div>
						<div class="wu2" >

						</div>
					</div>
				</div>
			</div>
			<div class="box12_e q_1">

			</div>
		</div>
		<div class="box15">
		<h3>
			<span>
				<a href="#" title="更多">
					<img src="{% static 'product/image/ry_m.jpg' %}" alt="更多" title="更多">
				</a>
			</span>
			<em>
				<a href="#" title="行业资讯" class="select">行业资讯</a>
				<a href="#" title="网站公告">网站公告</a>
			</em>
		</h3>
		<ul>
			<div class="box15_q" style="display:block">
				<p>
					<a href="#" title="沉淀池中的污水处理">
					<img src="{% static 'product/image/20140627095318_18592.jpg' %}" alt="沉淀池中的污水处理" title="沉淀池中的污水处理">
					</a>
				</p>
				<ul>
				<li><a href="#" title="沉淀池中的污水处理">沉淀池中的污水处理</a></li>
				<li><a href="#" title="沉淀池中的污水处理">农村污水问题亟需重视　处理要因势利导</a></li>
				<li><a href="#" title="沉淀池中的污水处理">浅谈垃圾渗滤液</a></li>
				<li><a href="#" title="沉淀池中的污水处理">水处理优化方案</a></li>
				<li><a href="#" title="沉淀池中的污水处理">高纯水设备在医药行业的应用</a></li>
				<li><a href="#" title="沉淀池中的污水处理">沉淀池中的污水处理</a></li>
				<li><a href="#" title="沉淀池中的污水处理">水源的分类及特点有哪些？</a></li>
				</ul>
			</div>

			<div class="box15_w">
				<p>
					<a href="#" title="沉淀池中的污水处理">
					<img src="{% static 'product/image/20140627165943_89562.jpg' %}" alt="沉淀池中的污水处理" title="沉淀池中的污水处理">
					</a>
				</p>
				<ul>
					<li><a href="#" title="沉淀池中的污水处理">环保政策趋紧产能受限 染料股集体上攻</a></li>
					<li><a href="#" title="沉淀池中的污水处理">污水综合排放标准</a></li>
					<li><a href="#" title="沉淀池中的污水处理">水污染物排放标准</a></li>
					<li><a href="#" title="沉淀池中的污水处理">水处理优化方案</a></li>
					<li><a href="#" title="沉淀池中的污水处理">深圳市龙岗区加快推进新建两座污泥处理厂开展前期工</a></li>
					<li><a href="#" title="沉淀池中的污水处理">沉淀池中的污水处理</a></li>
					<li><a href="#" title="沉淀池中的污水处理">“十二五”期末自贡将实现乡镇污水处理设施全覆盖</a></li>
				 </ul>
			</div>
		</ul>
		</div>
		<div class="box16">
			<h3>
				<span>
					<a href="#" title="更多">
						<img src="{% static 'product/image/ry_m.jpg' %}" alt="更多" title="更多">
					</a>
				</span>
				<a href="#" title="鑫水源环保技术支持">鑫水源环保技术支持</a>
			</h3>
			<p>
				<a href="#" title="鑫水源环保技术支持">
					<img src="{% static 'product/image/20140627095249_65965.jpg' %}" alt="鑫水源环保技术支持" title="鑫水源环保技术支持">
				</a>
			</p>
			<ul>
				<li>
					<a href="#" title="膜分离技术">
						膜－生物反应器技术
					</a>
				</li>
				<li>
					<a href="#" title="膜分离技术">
						超滤技术
					</a>
				</li>
				<li>
					<a href="#" title="膜分离技术">
						超滤技术应用简介
					</a>
				</li>
				<li>
					<a href="#" title="膜分离技术">
						生活污水处理技术的可行性
					</a>
				</li>
				<li>
					<a href="#" title="膜分离技术">
						反渗透技术
					</a>
				</li>
				<li>
					<a href="#" title="膜分离技术">
						水处理方法原理有哪些？
					</a>
				</li>
			</ul>
		</div>
		<div class="box17">
			<h3>
				<span>
					<a href="#" title="更多">
						<img src="{% static 'product/image/ry_m.jpg' %}" alt="">
					</a>
				</span>
				<a href="#" title="常见问题解答">常见问题解答</a>
			</h3>
			<div class="outerr" id="outerr">
				<div class="innerr" id="innerr">
					<dl>
						<dt><a href="#" title="污水来源分类?">污水处理工艺</a></dt>
						<dd>
                   	 		污水处理工艺多种多样，小编通过污水处理技术篇向大家介绍五种典型工艺。



一、间歇活性污泥法(SBR)

间歇活性污泥法也称序批式活性污泥法(Sequencing Batch Reactor-SBR)，它由单个或多个SBR池组成，运行时，废水分批进入池中，依次经历5个独立阶段，即进水、反应、沉淀、排水和闲置。进水及排水用水位控制，反应及沉淀用时间控制，一个运行周期的时间依负荷及出水要求而异，一般为4～12h，其中反应占40%，有效池容积为周期内进水量与所需污泥体积之和。

比连续流法反应速度快，处理效率高，耐负荷冲击的能力强;由于底物浓度高，浓度梯度也大，交替出现缺氧、好氧状态，能抑制专性好氧菌的过量繁殖，有利于生物脱氮除磷，又由于泥龄较短，丝状菌不可能成为优势，因此，污泥不易膨胀;与连续流方法相比，SBR法流程短、装置结构简单，当水量较小时，只需一个间歇反应器，不需要设专门沉淀池和调节池，不需要污泥回流，运行费用低。

二、吸附再生(接触稳定)法

这种方式充分利用活性污泥的初期去除能力，在较短的时间里(10～40min)，通过吸附去除废水中悬浮的和胶态的有机物，再通过液固分离，废水即获得净化，BOD5可去除85%～90%左右。吸附饱和的活性污泥中，一部分需要回流的，引入再生池进一步氧化分解，恢复其活性;另一部分剩余污泥不经氧化分解即排入污泥处理系统。

分别在两池(吸附池和再生他)或在同一池的两段进行。它适应负荷冲击的能力强，还可省去初次沉淀池。主要优点是可以大大节省基建投资，最适于处理含悬浮和胶体物质较多的废水，如制革废水、焦化废水等，工艺灵活。但由于吸附时间较短，处理效率不及传统法的高。

三、氧化沟

氧化沟是延时曝气法的一种特殊型式，它的平面像跑道，沟槽中设置两个曝气转刷(盘)，也有用表面曝气机、射流器或提升管式曝气装置的。曝气设备工作时，推动沟液迅速流动，实现供氧和搅拌作用。

与普通曝气法相比，氧化沟具有基建投资省，维护管理容易，处理效果稳定，出水水质好，污泥产量少，还有较好的脱N、P作用，适应负荷冲击能力强等优点。

四、连续进水周期循环延时曝气活性污泥法(ICEAS)

ICEAS反应器前部设有预反应区(占池容积的10%)。反应池由预反应区和主反应区组成，并实现连续进水，间歇排水。预反应区一般处在厌氧和缺氧状态，有机物在此被活性污泥吸附，该区还具有生物选择作用，抑制丝状菌生长，防止污泥膨胀。被吸附的有机物在主反应区内被活性污泥氧化分解。

反应连续进水，解决了来水与间歇进水不匹配的矛盾。但该工艺沉淀效果较差、净化效果变差，易发生污泥膨胀，污泥负荷较低，反应时间长，设备容积增大，投资较大。

五、生物脱氮除磷工艺(A/A/O)

污水首先进入厌氧池与回流污泥混合，在兼性厌氧发酵菌的作用下，废水中易生物降解的大分子有机物转化为聚磷菌可以吸收小分子有机物(如VFA)，并以PHB的形式贮存在体内，其所需的能量来自聚磷链的分解。随后，废水进入缺氧区，反硝化细菌利用废水中的有机基质对随回流混合液带入的NO3- 进行反硝化。废水进入好氧池时，废水中有机物的浓度较低，聚磷菌主要是通过分解体内的PHB而获得能量，供细菌增殖，同时将周围环境中的溶解性磷吸收到体内，并以聚磷链的形式贮存起来，随后以剩余污泥的形式排出系统。系统中好氧区的有机物浓度较低，正有利于该区中自养硝化菌的生长。

厌氧、缺氧、好氧三种不同的环境条件和不同种类的微生物菌群的有机配合，能同时具有去除有机物、脱氮除磷的功能;工艺简单，水力停留时间较短;SVI一般小于100，不会发生污泥膨胀;污泥中磷含量高，一般为2.5%以上;厌氧-缺氧池只需轻缓搅拌，使之混合，而以不增加溶解氧为度;沉淀池要避免发生厌氧-缺氧状态，以避免聚磷菌释放磷而降低出水水质和反硝化产生N2而干扰沉淀;脱氮效果受混合液回流比大小的影响，除磷效果则受回流污泥中挟带DO和硝酸态氧的影响，因而脱氮除磷效果不可能提高。
						</dd>
					</dl>
					<dl>
						<dt><a href="#" title="污水来源分类?"> 污水处理厂排放标准引争议 治水仍待多管齐下</a></dt>
						<dd>
                    		　　【中国环保在线 污水处理】从全局来看，改善水生态环境是一个系统工程，光靠污水处理厂“提标”并不能完全解决问题。既要有地方的重视和财力支持，保障污水处理厂得到良好的建设、运营，完成提标升级改造；还需要一系列配套政策措施，保障所有的污水都能得到适当处理。

　　污水处理厂排放标准引争议 治水仍待多管齐下

　　自2015年11月4日《城镇污水处理厂污染物排放标准(征求意见稿)》(以下简称“征求意见稿”)发布以来，业内的讨论就一直没有停止，就特别排放限值、排放标准与水环境质量标准是否靠拢和接轨等问题，更是争议不断。

　　众多业界人士认为，从征求意见稿单独设立特别排放标准，考虑了不同地区间的环境、经济水平的差异性。同时，新增POPs等新兴污染物控制项目(多氯联苯、二噁英类、阿特拉津等)，并对污泥无害化提出了明确的指标要求，充分体现了我国环境管理的进步。但同时也有些问题值得思考。

　　严格之外还应更科学

　　有必要进行科学的环境风险评估来确定限值设置的合理性；日均值、7日平均值、30日平均值哪一种更适合我国，不同规模监测取样的数量如何制定等值得再思考

　　从征求意见稿可以看到，控制的污染物指标项数已明显多于欧盟和美国联邦标准；同时，COD、BOD5、SS、TN、TP等一致性指标，以及重金属指标、微生物指标、有机污染物指标等排放限值的设定也已达甚至超过了发达国家的水平。

　　如征求意见稿中对于COD<30mg/L的规定，出水中这部分难降解的COD由60mg/L降为30mg/L，对环境改善的影响有多大？为处理掉这部分COD而进行技术改造、增加的电耗等带来的环境负效应又有多少？有必要进行科学的环境风险评估来确定限值设置的合理性。

　　同时，对于TN、氨氮等指标来说，从控制水体富营养化和水处理工艺角度讲，TN达到排放标准要求的情况下，氨氮也会达标，同时氨氮可在水体中转化成各种形态的氮，因此对氨氮进行控制的意义有待商榷。

　　污水处理厂的出水水质受进水负荷波动、温度变化、运行故障等影响而呈现正态分布。征求意见稿中参考了部分欧洲国家的监测方法，并以此为根据，“鉴于上述国际上的通行做法，新标准延续现行标准对水污染物的采样频率要求，即采用24小时时间比例混合样，日均值计”。

　　然而，研究发现，欧盟根据污水处理厂规模确定取样数量，同时规定容许超标水样数目；同时，对TN和TP实行年均值；德国还采用瞬时样，但规定连续5个水样中允许1个超标(低于标准值的100%)。美国充分考虑小型污水处理厂的抗冲击负荷能力，二级处理标准中对于CBOD5和TSS，设置30日平均浓度和7日平均浓度限值。

　　而部分污水处理厂反映，在我国的监督检查中，也有采用瞬时样超标即为超标的现象。监测中，日均值、7日平均值、30日平均值哪一种更适合我国，不同规模监测取样的数量如何制定，不同指标的监测方法是否一致？这些在制定标准时值得再思考。

　　此外，征求意见稿中，排放限值以浓度指标为主，难以避免企业以稀释降低污染物排放浓度甚至达标的行为，难以有效地控制进入环境的污染物总量。

　　既要目光长远也应立足现实

　　需要科学评估投入与产出的平衡点；充分考虑对受纳水体和周边环境影响；强化地方制定排放标准的职责和权限；排放标准应与排污许可证制度结合实施

　　针对国家层面的城镇污水处理厂污染物排放标准修订，我们有如下建议：

　　标准必须要具有长远的战略前瞻性，才能引领行业不断向着更加可持续性的方向发展。在结合水环境质量目标的同时，污水处理排放标准的制定与污水处理技术的发展一定是相辅相成的，敏感水体的富营养化控制、水的回用、能耗控制、资源回收和技术创新是当下亟待攻克的重点和未来发展的方向。

　　科学评估，多管齐下。虽然水环境形势已很严峻，但仍不可盲目设置过严标准，需要科学评估投入与产出的平衡点，极端状况下再苦苦削减下去的一点点污染负荷，相关投入带来的环境负效应也许要远大于削减负荷产生的环境正效应。污染治理还需从深化流域管理、防治工业污染、控制面源污染、雨污水管网建设、严格环境监管等方面多管齐下。

　　标准制定应遵循“可持续和环境友好、技术经济合理、以科学基础为依据”三大原则。充分考虑对受纳水体和周边环境的影响，努力使污水处理厂出水成为重要的再生水源；和选择的工艺技术路线相适应；标准限值必须是在对水环境容量、排放强度及变化趋势、水体功能变化趋势及不同水环境形势下的自净能力进行科学综合测算的基础上，再结合技术可达及环境经济性来科学设置，特别是对一些新兴的污染物，先以大量的科学研究做基础，再制定标准。

　　分类指导，实事求是。在具体标准制定落实过程中，必须综合考虑各地不同的环境、经济条件的差异性以及工艺水平的实际情况，实事求是。在管理层级上参考国外的做法，设置不同的层级标准。国家层面只制定最基本的标准以及标准制定方法和体系，强化地方制定排放标准的职责和权限，由各地因地制宜设置当地标准。

　　制度衔接，同步前进。同时，排放标准应与排污许可证制度结合实施，某种意义上，排污许可证一定要先行，才能为制定排放标准提供必要的数据和信息来源。而且排放标准的制定应与水环境质量标准、污染物排入下水道标准、检测与评价方法等标准规范同步进行。 (高小娟 李瑞玲)

　　原标题：严格与科学兼顾 长远与现实结合
(来源：中国环境报)
						</dd>
					</dl>

					<dl>
						<dt><a href="#" title="污水来源分类?">增强型PVDF膜材料的特点</a>
						</dt>
						<dd>
                   			我们的核心产品为超低压型中空纤维超滤膜、微滤膜，具有以下特点：
1 材质为聚偏氟乙烯
2 良好的耐热性，化学稳定性和物理机械性能
3 单位膜面积水通量大
4 永久亲水性，抗污染能力更强，更加方便与运行与保存
5 复合膜增加内衬，机械强度更好，永不断丝
6 复合膜的剥离强度达到反向水压4kg不剥离，更加适合反洗，减少膜的维护性清洗与恢复性清洗周期，膜系统运行更加稳定
7 膜结构为海绵状结构，出水水质更加安全与保障
						</dd>
					</dl>


					<dl>
						<dt><a href="#" title="污水来源分类?">水处理方式</a>
						</dt>
						<dd>
                    		水处理的方式包括物理处理和化学处理。
   人类进行水处理的方式已经有相当多年历史，物理方法包括利用各种孔径大小不同的滤材，利用吸附或阻隔方式，将水中的杂质排除在外，吸附方式中较重要者为以活性炭进行吸附，阻隔方法则是将水通过滤材，让体积较大的杂质无法通过，进而获得较为干净的水。另外，物理方法也包括沉淀法，就是让比重较小的杂质浮于水面捞出，或是比重较大的杂质沉淀于下，进而取得。化学方法则是利用各种化学药品将水中杂质转化为对人体伤害较小的物质，或是将杂质集中，历史最久的化学处理方法应该可以算是用明矾加入水中，水中杂质集合后，体积变大，便可用过滤法，将杂质去除。
    随着人类生活不断提高水体富营养化氨氮、磷等营养盐问题和国家环保局对污水排放标准一步步提高，沿用了许多年传统的“一级处理”及“二级处理”水处理工艺技术和设备，已经难以适应当今的高浊度和高浓度污水的处理要求，而且处理工艺流程长，系统庞大，而且还散发大量臭气。运营者要想达到最新排放标准，需要从新再投入高额的资金扩建原有污水处理系统，加大占地面积使用和高额的污水处理设备及高额后期维护费用，然而,传统的污水深度处理再生回用技术系统(如活性炭过滤、微孔过滤、渗透膜净化等技术系统)投资高、后期维护运行费用高，太多的运营者难以承受。
						</dd>
					</dl>


					<dl>
						<dt><a href="#" title="污水来源分类?">超滤膜分离原理</a>
						</dt>
						<dd>

 超滤膜组件是以压力为推动力的膜分离过程，通过膜表面的微孔筛选可将直径为0.002-0.1μm之间的颗粒和杂质截留，可有效去除水中胶体、硅、蛋白质、微生物和大分子有机物。当液体混合物在一定的压力推动下流经膜表面时，溶剂及小分子物质透过膜，而大分子物质则被截留，从而实现大小，分子间的分离和净化目的。可广泛的应用于物质的分离、浓缩、提纯。超滤过程无相转化，不需加热，常温操作，节约能源，对热敏性物质的分离尤为适宜。超滤过程简单，配套装置少，操作运转简便，维护费用低。超滤膜耐化学药品侵蚀，PH适应范围广，超滤装置单位体积中膜面积最大，投资费用最低，清洗简单。
						</dd>
					</dl>

					<dl>
						<dt><a href="#" title="污水来源分类?">膜行业发展的趋势</a>
						</dt>
						<dd>
                    		我国膜产业自20世纪60年代发展至今，已形成了年产值500亿元左右的产业。近年来膜产业发展迅速，前瞻产业研究院预测2015年我国膜产业产值将达到852亿元，膜产品应用将呈多元化发展趋势。
    发展至今，我国膜产业大致经历了三个阶段：第一阶段，我国膜产业主要特点是电渗析技术一花独放；第二阶段，我国膜产业初成规模；第三阶段，我国膜产业逐渐走向规模化、国际化和规范化。近几年，我国的膜行业最大的特点是发展非常快，需求量很高，在环保领域和水务领域，膜技术大显身手。前几年，我国有大批的10万吨级的工业污水项目，由于受困于城市污水和饮用水的推广只刚起步，膜技术的发展受限，2008年以来由于城市污水和饮用水受到更多的重视，膜技术的发展前景良好。
   中国膜产业已经进入一个快速成长期，超滤、微滤、反渗透等膜技术在能源电力、有色冶金、海水淡化、给水处理、污水回用及医药食品等领域的工程应用规模迅速扩大，多个具有标志性意义的大型膜法给水工程、污水回用工程及海水淡化工程已经相继建成。前瞻产业研究院发布的《2013-2017年中国膜产业市场前瞻与投资战略规划分析报告》显示，“十二五”期间，我国膜产业预计将保持20%-25%的年增长率，到2015年，我国膜产业产值将达到852亿元左右。
   前瞻产业研究院发布的中国膜产业报告分析认为，未来几年，膜产业技术发展重点方向应包括：推广应用领域包括海水淡化和苦咸水淡化；处理微污染水，保证饮水安全；实现工业废水和市政污水资源化；进军新能源电池隔膜挑战性领域；提升水准医疗用膜和医用检测膜水准；加强重大技术设备的核心膜开发。与此相适应，开发适用于重点应用领域的高性能膜的规模化制造技术，实现膜组器的优化和革新，建设膜技术为核心的处理工程。
    此外，膜产品将呈现应用多元化的趋势。目前全球各类膜组件产品中，反渗透膜占膜市场的比重约为45%，主要用于海水脱盐及超纯水的制造，而超滤与纳滤合占20%左右，主要用于污水、废水处理及回用、给水净化以及海水淡化预处理等领域。未来，随着膜产品多元化及技术多元化，产品的应用领域也将变得越来越广泛。
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<div class="box18">
		<div class="box18_q">
			<h3>
				<span>
					<a href="#" title="链接申请入口">
						<img src="{% static 'product/image/link.jpg' %}" alt="链接申请入口" title="链接申请入口">
					</a>
				</span>
				<a href="#" title="友情链接">友情链接</a>
			</h3>
			<p>
				<a href="#" title="单仁资讯">单仁资讯</a>
				<a href="#" title="单仁资讯">牛商网</a>
				<a href="#" title="单仁资讯">单仁资讯</a>
			</p>
		</div>
	</div>
{% endblock %}
{% block footer %}
{% endblock %}