<div class='content' ,title='内容'>
        <div class='content_left'>
			<div class='content_left_top'>
				<div class='content_tit'>客户中心</div>
				<ul class='content_ul'>
					<li><a href='#' title='成功案例'>成功案例</a></li>
				</ul>
			</div>
			<div class='content_left_bottom'>
				<div class='content_tit'>
					联系鑫水源环保
				</div>
				<div class='cont_bottom'>
					<div class='cont_contact'>
						<p class='cont_contact_p1'></p>
						<div class='cont_tel'>
							咨询热线：
							<span>0537-6286699</span>
						</div>
						<p>济宁鑫水源环保工程有限公司</p>
						<p>手机：15397121116</p>
						<p>邮箱：15397121116@163.com</p>
						<p>办公地址：山东省济宁市唐马工业园区88号</p>
					</div>
				</div>
				<div class='cont'></div>
			</div>
		</div>
		<div class='content_right'>
			<div class='con_right_t'></div>
			<div class='con_right_t1'>
				<span>
					<a href='index.html' title='首页'>首页</a> »
					<a href='#' title='鑫水源环保帮助中心'>鑫水源环保帮助中心</a>»
					<a href='#' title='关于鑫水源环保'>关于鑫水源环保</a>»
					<a href='#' title='关于污水处理'>关于污水处理</a>
				</span>
			</div>
			<div class='con_right_t2'></div>
			<div class='cont_t3'></div>
			<div class='k_h'>
				<div class='k_h1'>
					<div class='chan_pin'>
						<div class='chan_pinz'>
							<img src="{% static  'product/image/zj_pic1.jpg' %}" alt="吹风机" title="吹风机">
						</div>
						<div class="chan_piny">
							<h1>MBR膜片</h1>
							<p>单位：㎡</p>
							<p>品牌：捷滤（自主产品）</p>
							<p>型号：JM-MBR-6、10、15-CO-PVDF</p>
							<p>供货总量：自产自销</p>
							<p class="chan_pin2"></p>
							<p>
								订购热线：0537-6286699
							</p>
							<p class="chan_pin2"></p>
							<!--
							<p>
								<b>分享到：</b>什么什么地方
							</p>
							<p>
								<img src="image/btn-order.png" alt="这是一张图片" title="这是一张图片">
							</p>
							-->
						</div>
					</div>
					<div class="chan_pin1">
						<img src="{% static 'product/image/zj_pic1.jpg'%}" alt="吹风机" title="吹风机">
					</div>
					<div class="chan_pin3">
						<h1 class="chan_js">产品介绍</h1>
						<span style="font-size:20px;">MBR膜组件技术参数</span>
					<table border="1" cellpadding="1" cellspacing="1" height="722" width="653">
					<tbody>
					<tr>
					<td colspan="1" rowspan="3">
					<span style="color:#00ff00;"><span style="font-size: 16px;">规<br />
					格</span></span></td>
					<td>
					<span style="color:#00ff00;"><span style="font-size: 16px;">产品型号</span></span></td>
					<td>
					<span style="font-size:16px;"><span style="color: rgb(255, 0, 0);">JM-MBR-6-CO-PVDF</span></span></td>
					<td>
					<span style="font-size:16px;"><span style="color: rgb(255, 0, 0);">JM-MBR-10-CO-PVDF</span></span></td>
					<td>
					<span style="font-size:16px;"><span style="color: rgb(255, 0, 0);">JM-MBR-15-CO-PVDF</span></span></td>
					</tr>
					<tr>
						<td>
							<span style="color:#00ff00;">
								<span style="font-size: 16px;">组件长度
								</span>
							</span>
						</td>
						<td style="text-align: center;">
								<span style="font-size:16px;">1020mm
								</span>
						</td>
						<td style="text-align: center;">
							<span style="font-size:16px;">1523mm
							</span>
						</td>
						<td style="text-align: center;">
							<span style="font-size:16px;">2160mm
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span style="color:#00ff00;">
								<span style="font-size: 16px;">组件宽度
								</span>
							</span>
						</td>
						<td colspan="3" rowspan="1" style="text-align: center;">
							<span style="font-size:16px;">655mm
							</span>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="7">
							<span style="color:#0000ff;">
								<span style="font-size: 16px;">基<br />
									本<br />
									参<br />
									数
									</span>
							</span>
						</td>
						<td>
							<span style="color:#0000ff;">
								<span style="font-size: 16px;">壳体材质
								</span>
							</span>
						</td>
						<td colspan="3" rowspan="1" style="text-align: center;">
							<span style="font-size:16px;">ABS/UPVC
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span style="color:#0000ff;">
								<span style="font-size: 16px;">膜材质
								</span>
							</span>
						</td>
						<td colspan="3" rowspan="1" style="text-align: center;">
							<span style="font-size:16px;">PVDF合金膜
							</span>
						</td>
					</tr>
					<tr>
			<td>
				<span style="color:#0000ff;"><span style="font-size: 16px;">平均孔径</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">0.05&micro;m</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#0000ff;"><span style="font-size: 16px;">膜内外径</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">1.6mm/2.1mm</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#0000ff;"><span style="font-size: 16px;">出水浊度</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">&lt;1NTU</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#0000ff;"><span style="font-size: 16px;">出水悬浮物</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">1mg/L</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#0000ff;"><span style="font-size: 16px;">使用寿命</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">3-8年</span></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="9">
				<span style="color:#33ff00;"><span style="font-size: 16px;">典<br />
				型<br />
				工<br />
				艺<br />
				条<br />
				件</span></span></td>
			<td>
				<span style="color:#33ff00;"><span style="font-size: 16px;">温度耐受范围</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">1-40℃</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#33ff00;"><span style="font-size: 16px;">PH值耐受范围</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">1-14</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#33ff00;"><span style="font-size: 16px;">产水流量</span></span></td>
			<td style="text-align: center;">
				<span style="font-size:16px;">2.0-3.0m&sup3;/d</span></td>
			<td style="text-align: center;">
				<span style="font-size:16px;">3.5-5.0m&sup3;/d</span></td>
			<td style="text-align: center;">
				<span style="font-size:16px;">5.0-7.5m&sup3;/d</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#33ff00;"><span style="font-size: 16px;">最大跨膜压差</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">-0.08Mpa</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#33ff00;"><span style="font-size: 16px;">出水方式</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">负压抽吸</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#33ff00;"><span style="font-size: 16px;">出水周期</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">出8分钟，停2分钟</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#33ff00;"><span style="font-size: 16px;">化学灭菌药剂</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">次氯酸钠</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#33ff00;"><span style="font-size: 16px;">化学清洗周期</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">6-12个月</span></td>
		</tr>
		<tr>
			<td>
				<span style="color:#33ff00;"><span style="font-size: 16px;">化学清洗药剂</span></span></td>
			<td colspan="3" rowspan="1" style="text-align: center;">
				<span style="font-size:16px;">柠檬酸/氢氧化钠</span></td>
		</tr>
		<tr>
			<td colspan="5">
				<span style="font-size:16px;">1.表中所有技术参数均为标准检测条件下的出厂检验值<br />
				2.表中产水流量是指产品用于MBR技术处理污水时的产水流量</span></td>
		</tr>
	</tbody>
</table>
<span style="font-size:16px;"><span style="font-size:20px;">膜-生物反应器（MBR）技术特点</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1、产水水质好：过滤层空隙率高，超大通量；内外致密双皮层，截留性能优越。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2、运行成本低：采用PVDF合金膜作为其过滤层可使得污染物停留在膜的外表面，易于清洗保持膜的通量。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3、使用寿命长：内衬加强结构，采用PVDF合金膜具有超强抗污染性能。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4、结构先进，使用便利：我公司自主研发生产的增强型聚偏氟乙烯中空纤维帘式膜组件模块化设计，结构紧凑、战地小、易于组合使用，在干态下保存，可防止通量衰减。并有利于长期的保存、产品运输及日常维护。</span>
	</div>
					<div class="clear"></div>
				</div>
			</div>




			<div class="k_h">
				<div class="k_h1">
					<div class="chan_pin">
						<div class="chan_pinz">
							<img src="image/zj_pic2.jpg" alt="组件" title="组件">
						</div>
						<div class="chan_piny">
							<h1>MBR膜组件</h1>
							<p>单位：组</p>
							<p>品牌：捷滤（自主产品）</p>
							<p>供货总量：自产自销</p>
							<p class="chan_pin2"></p>
							<p>
								订购热线：0537-6286699
							</p>
							<p class="chan_pin2"></p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>



			<div class="k_h">
				<div class="k_h1">
					<div class="chan_pin">
						<div class="chan_pinz">
							<img src="image/RO1.jpg" alt="组件1" title="组件1">
						</div>
						<div class="chan_piny">
							<h1>RO膜组件</h1>
							<p>品牌：捷滤（自主产品）</p>
							<p>供货总量：自产自销</p>
							<p class="chan_pin2"></p>
							<p>
								订购热线：0537-6286699
							</p>
							<p class="chan_pin2"></p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>


			<div class="k_h">
				<div class="k_h1">
					<div class="chan_pin">
						<div class="chan_pinz">
							<img src="{% static 'product/image/RO2.jpg' %}" alt="组件2" title="组件2">
						</div>
						<div class="chan_piny">
							<h1>RO膜组件</h1>
							<p>品牌：捷滤（自主产品）</p>
							<p>供货总量：自产自销</p>
							<p class="chan_pin2"></p>
							<p>
								订购热线：0537-6286699
							</p>
							<p class="chan_pin2"></p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>


			<div class="k_h">
				<div class="k_h1">
					<div class="chan_pin">
						<div class="chan_pinz">
							<img src="{% static 'product/image/RO3.jpg' %}" alt="组件3" title="组件3">
						</div>
						<div class="chan_piny">
							<h1>RO膜组件</h1>
							<p>品牌：捷滤（自主产品）</p>
							<p>供货总量：自产自销</p>
							<p class="chan_pin2"></p>
							<p>
								订购热线：0537-6286699
							</p>
							<p class="chan_pin2"></p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>


			<div class="k_h">
				<div class="k_h1">
					<div class="chan_pin">
						<div class="chan_pinz">
							<img src="{% static 'product/image/超滤膜组件1.jpg' %}" alt="组件4" title="组件4">
						</div>
						<div class="chan_piny">
							<h1>超滤膜组件</h1>
							<p>品牌：捷滤（自主产品）</p>
							<p>供货总量：自产自销</p>
							<p class="chan_pin2"></p>
							<p>
								订购热线：0537-6286699
							</p>
							<p class="chan_pin2"></p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>


			<div class="k_h">
				<div class="k_h1">
					<div class="chan_pin">
						<div class="chan_pinz">
							<img src="{% static 'product/image/超滤膜组件2.jpg' %}" alt="组件5" title="组件5">
						</div>
						<div class="chan_piny">
							<h1>超滤膜组件</h1>
							<p>品牌：捷滤（自主产品）</p>
							<p>供货总量：自产自销</p>
							<p class="chan_pin2"></p>
							<p>
								订购热线：0537-6286699
							</p>
							<p class="chan_pin2"></p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<div class="k_h">
				<div class="k_h1">
					<div class="chan_pin">
						<div class="chan_pinz">
							<img src="{% static 'product/image/超滤膜组件3.jpg' %}" alt="组件6" title="组件6">
						</div>
						<div class="chan_piny">
							<h1>超滤膜组件</h1>
							<p>品牌：捷滤（自主产品）</p>
							<p>供货总量：自产自销</p>
							<p class="chan_pin2"></p>
							<p>
								订购热线：0537-6286699
							</p>
							<p class="chan_pin2"></p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="cont_end"></div>
		</div>
	</div>